.nearestInstitute {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 20px;
  }
  
  .nearestInstitute > img {
    width: 50%;
    height: auto;
  }
  
  .statePinDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 40%;
  }
  
  .statePinDetail > h2 {
    font-size: 32px;
    font-weight: 500; 
  }
  
  .statePinDetail > h3 {
    font-size: 22px;
    font-weight:200; 
  }
   
  .statePinDetailState{
    padding: 10px 0px;
    width: 50%;
    margin-right: 10px;
    border: 1px solid #d6d0d0;
  }
  
  .statePinDetailPin1 {
    padding: 5px;
    width: 40%;
    border: 1px solid #d6d0d0;
    font-size: 2rem;
  }

  .pinSelectorItem{
    display: flex;
  }
  
  .statePinDetailPin2 {
    padding: 5px;
    width: 40%;
    height: 40px;
    border: 1px solid #d6d0d0;
    font-size: 2rem;
    position: relative;
    left:6%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .statePinDetailPin3 {
    margin-top: 10px;
    padding: 5px;
    width: 40%;
    height: 40px;
    border: 1px solid #d6d0d0;
    font-size: 2rem;
    /* position: relative; */
    left:6%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .statePinDetail > button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    width: fit-content;
    align-self:self-end;
    margin: 20px 50px;
  }
  
  #TermsCondition {
    margin-right: 10px;
  }
  
  #TermsCondition > 
  input {
    display: inline;
  }
  
  input[type=checkbox] {
    position: relative;
    cursor: pointer;
  }

  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
  }

  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
  }

  .cursor{
    cursor: pointer;
  }

